
<h1 class="text-center">やること一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>やること</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @task.each do |t| %>
      <tr>
        <th><%= t.content %></th>
        <th><%= t.detail %></th>
        <th><%= link_to '編集', tasks_edit_path(id: t.id), class: "btn btn-warning" %></th>
        <th><%= link_to '削除', tasks_destroy_path(id: t.id), class: "btn btn-warning" %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規作成', tasks_signup_path, class: "btn btn-primary" %>
